:root{
--Green: hsl(75, 94%, 57%);

--White: hsl(0, 0%, 100%);

--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--weight-1: 400;
--weight-2: 600;
--weight-3: 700;
--para: 14px;
}

body{
    background-color: var(--Grey-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

}
.container{
    background-color: var(--Grey-800);
    display: flex;
    flex-direction: column;
    padding: 0,5rem;
    align-items: center;
    justify-content: center;
    width: 18rem;
    padding: 10px;
    border-radius: 10px;
    height: 500px;

}
.container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container h2{
    color: var(--White);
    font-weight: var(--weight-3);
}
.container-p1{
    color: var(--Green);
    margin-top: 0px;
    font-weight: var(--weight-2);
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.btn button{
    border: none;
    background-color: var(--Grey-700);
    color: var(--White);
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
    font-weight: var(--weight-2);
}
.btn button:hover{
    background-color: var(--Green);
    cursor: pointer;
}
p{
    font-size: var(--para);
    color: var(--White);
    font-weight: var(--weight-1);
}